:root {
    --color-red: rgba(157, 16, 40);
    --color-red-light: rgb(183, 9, 39);

    /*--color-black: rgba(2, 10, 33, 1);*/
    /*--color-black: rgba(1, 3, 17, 1);*/
    --color-black: rgba(0, 0, 11, 1);

    --color-blue: rgb(27, 56, 201);

    /*--color-black: #233142;*/
    --color-black-light: #455d7a;
    --color-white: rgba(227, 227, 227, 0.8);
    --color-white-bright: #ffffff;
    /*--color-red: #f95959;*/

    --color-transparent: rgba(0, 0, 0, 0);
}