.block {
    background: rgba(224, 255, 255, 0.05);
}

.block > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 16px 20px;

    /*border-radius: 5px;*/

    margin-bottom: 20px;
    /*box-shadow: 0 3px 10px rgb(255 255 255 / 0.2);*/

    cursor: pointer;
}

.block > div > div {
    /*padding: 0 10px;*/
}

.block > div.title {
    background: rgba(224, 255, 255, 0.1);

    justify-content: right;
    color: white;
    font-size: 20px;
    font-weight: 200;
}

.block > div.title.active {
    /*background: transparent;*/
}

.block > div.title.active:hover {
    /*background: rgba(224, 255, 255, 0.01);*/
}

.block > div:hover {
    /*background: rgba(224, 255, 255, 0.2);*/
}

@media only screen and (max-width: 600px) {
    .block {
        padding: 20px 0;
        font-size: 16px;
        min-width: unset;
        width: 100%;
    }

    .block > div {
        border-radius: 0;
    }
}