:root {
    /*--app-height: 100vh;*/
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0;
    /*background-color: rgba(2, 8, 32, 1);*/
    /*background: linear-gradient(90deg, rgba(32, 2, 5, 1) 0%, rgba(2, 8, 32, 1) 2%);*/
    background-color: var(--color-black);
    color: var(--color-white);


    font-family: var(--font);
    font-size: 16px;
    letter-spacing: 1px;
}

body {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    overscroll-behavior: contain;
}

main {
    width: 100%;
    /*height: var(--app-height);*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: #b2b2b2;*/
    /*background-color: rgb(91, 126, 63);*/
    /*background: radial-gradient(circle, rgba(2,0,36,1) 20%, rgba(4,14,54,1) 50%, rgba(2,8,32,1) 80%);*/
}